.footer {
    padding: 90px 0 60px 0;
    background: url('../img/svg/footer-bg.svg') no-repeat top right / cover;
    @include min(769) {
        padding: 190px 0 60px 0;
    }
    &__top {
        margin-bottom: 50px;
        @include min(769) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;
            margin-bottom: 88px;
        }
    }
    &__logo {
        margin-bottom: 20px;
        @include min(769) {
            margin-bottom: 0;
        }
        &-icon {
            display: inline-block;
            max-width: 100%;
            vertical-align: middle;
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        @include min(769) {
            flex-direction: row;
            margin-bottom: 0;
            flex-shrink: 0;
        }
    }
    &__social {
        display: flex;
        column-gap: 10px;
        &-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: $social;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            transition: all .1s linear;
            &:hover, &:focus, &:active {
                background: $social-2;
            }
        }
    }
    &__copy {
        font-size: 17px;
        font-weight: 400;
        color: $wh;
        text-align: center;
    }
}