// COLORS
$primary: #ffc727;
$secondary: #00dadc;
$violet: #6422db;
$violet-2: #885ee9;
$dark: #25234d;
$wh: #ffffff;
$btn: #171718;
$silver: #6a697f;
$wh-2: #fcfcff;
$form: #d2d2d8;
$label: #999999;
$social: #6f7ffd;
$social-2: #00dadc;
// GRADIENT
$header-gradient: linear-gradient(180deg, #735EF8 0%, #6321D8 100%);